# https://my.telegram.org -> API development tools
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
# python login.py orqali olinadi (MAXFIY!)
TELEGRAM_SESSION=
# https://aistudio.google.com/apikey
GEMINI_API_KEY=

# Ixtiyoriy
GEMINI_MODEL=gemini-3.1-flash-lite
AGENT_PREFIX=.
TIMEZONE=Asia/Tashkent
